.footer
  .footer-contents
    .footer-contents-head
      FURIMAについて
      %ul.footer-contents-head-content
        %li 会社概要（会社運営）
        %li プライバシーポリシー
        %li FURIMA利用規約
        %li ポイントに関する特約
    .footer-contents-head
      FURIMAを見る
      %ul.footer-contents-head-content
        %li カテゴリー一覧
        %li ブランド一覧
    .footer-contents-head
      ヘルプ&ガイド
      %ul.footer-contents-head-content
        %li FURIMAガイド
        %li FURIMAロゴ利用ガイドライン
        %li お知らせ
  .footer-logo
    = image_tag 'logo/logo-white.png',size:'160x46'
    .footer-logo-list
      © FURIMA