.toppage-main-contents__top-img
  = image_tag 'pict/bg-mainVisual-pict_pc.jpg',size:'1280x560'
  %h1.onimg
    人生を変えるフリマアプリ
  %h2.onimg
    FURIMAはだれでもかんたんに出品・購入できる
    %br
    フリマアプリです
.toppage-main-contents__reason
  %h1.reason
    FURIMAが選ばれる3つの理由
  %ul.toppage-main-contents__reason-box
    %li.toppage-main-contents__reason-img
      = image_tag 'pict/pict-reason-01.jpg',size:'306x306'
      %h2.reason
        3分 ですぐに出品
      %p.reason
        スマホで入力するだけで
        簡単に出品できる！
    %li.toppage-main-contents__reason-img
      = image_tag 'pict/pict-reason-02.jpg',size:'306x306'
      %h2.reason
        シンプル で使いやすい
      %p.reason
        めんどくさい入力は必要なく、検索も購入もスムーズ！
    %li.toppage-main-contents__reason-img
      = image_tag 'pict/pict-reason-03.jpg',size:'306x306'
      %h2.reason
        手数料 業界最安
      %p.reason
        最大3%でお得に出品&購入！