.wrapper
  .header
    = render 'header'
  .toppage-main-contents
    = render 'main-contents'
  .toppage-main-contents__bottom
    = render 'main-contents-b'
  .toppage-footer
    = render 'footer'

