.wrapper
  .header
    .header__inner
      .header__inner-top
        .header__inner-top--title
          = image_tag 'logo/logo.png',size:'142x41'
        .header__inner-top--search-box
          = form_for(test) do |f|
            = f.text_field :test ,placeholder: '検索する' 
            = f.submit
      .header__inner-bottom
        %ul.header__inner-bottom--find
          %li.header__inner-bottom--find-list
            カテゴリから探す
          %li.header__inner-bottom--find-list
            ブランドから探す
        %ul.header__inner-bottom--btn
          %li.header__inner-bottom--btn-list
            新規会員登録
          %li.header__inner-bottom--btn-list
            ログイン
  .toppage-main-contents
    メインコンテンツ
  .toppage-footer
    フッター