.pickup
  .pickup-top
  .pickup-middle
.pickup-bottom
  .pickup-bottom-inner
    = image_tag 'pict/bg-appBanner-pict.jpg',size:'951x360'
    .pickup-bottom-inner_header
    だれでもかんたん、人生を変えるフリマアプリ
    .pickup-bottom-inner_main
    今すぐ無料ダウンロード！
    .pickup-bottom-inner_contents
      = link_to '#' do
        イラスト１
      = link_to '#' do
        イラスト２
