.mypage-wrapper
  .mypage-lists
    =render'users/mypage-lists'

  .logout
    .logout-contents
      =link_to destroy_user_session_path,method: :delete ,class:'color' do
        .logout-contents__btn
          ログアウト