- if current_user.id != @exhibition.user_id
  - if @exhibition.already_liked?(current_user)
    #favorite_btn-already
      = button_to "いいねを消す！#{@favorites.count}", exhibition_favorite_path(@exhibition, @favorite), method: :delete, remote: :true
  - else 
    #favorite_btn
      = form_for "いいね！#{@favorites.count}", exhibition_favorites_path(@exhibition, @favorite), method: :post , remote: :true

- else
  お気に入り