.comments-field
  - @exhibition.comments.each do |comment|
    .comments-field__comment
      .comments-field__comment--username= current_user.nickname
      .comments-field__comment--content= comment.content