.single-header
  %h1.header-icon
    =link_to"#"do
      <img src="/assets/logo/logo.png" width="142" height="41">
  %nav.progress-bar 
    %ol.cleafix
      %li.progress-bar__active
        会員情報
        .progress-bar__active__status
      %li.progress-bar__active__phone-number
        電話番号認証
        .progress-bar__active__status__phone-number
      %li.progress-bar__active__complete
        完了
        .progress-bar__active__status__complete