.exhibition-wrapper
  = render 'exhibition_header'
  .exhibition-main
    = form_with model: @exhibition do |f|
      = render partial: 'form', locals: {f: f, new_form: true}
  = render 'exhibition_footer'