.mypage-contents__inner
  .mypage-contents__user
    %h1.user-name
      ユーザー名
    %p.exhibitions
      出品数: 0
  .mypage-contents__flex
    .mypage-contents__menu
      出品中
    .mypage-contents__menu
      購入履歴
  .mypage-contents__window
    内容が表示される