.header
  = render 'top/header'
- breadcrumb :mypage
=render 'layouts/breadcrumb'
.mypage-wrapper
  .mypage-lists
    = render 'mypage-lists'
  .mypage-contents
    = render 'mypage-top'
.footer
  = render 'top/footer'