.notification {
  .notice {
    background-color: $bg-color;
    color: $white-color;
    text-align: center;
  }

  .alert {
    background-color: red;
    color: $white-color;
    text-align: center;
  }
}