
.mypage-lists__inner
  %ul.mypage-menulists
    %h2.mypage-list-title
    =link_to mypage_path do
      %li.mypage-list
        マイページ
    =link_to new_exhibition_path do
      %li.mypage-list
        出品する
    =link_to exhibitions_path do
      %li.mypage-list
        出品中
    =link_to '#' do
      %li.mypage-list
        購入履歴
  %ul.mypage-menulists
    %h2.mypage-list-title
      設定
    =link_to '#' do
      %li.mypage-list
        住所・発送元
    =link_to card_registration_path do
      %li.mypage-list
        クレジットカードの登録
    =link_to edit_user_registration_path do
      %li.mypage-list
        メール/パスワード
    =link_to logout_path do
      %li.mypage-list
        ログアウト