.brand-wrapper{
  width: 700px;
  margin: 0 auto;
  .categories{
    padding-bottom: 10px;
    h2{
      font-size: 24px;
      padding-left: 5px;
      margin: 20px 0;
    }
    p,a{
      height: 16px;
      background: #eee;
      padding: 15px;
      margin: 0 4px 6px 0;
      border-radius: 4px;
      display: inline-block;
    }
    p:hover,a:hover{
      color: $white-color;
      background: $bg-color;
    }
    
    .bg-color{
      background-color: $bg-color;
      color: $white-color;
      &--selected{
        background-color: $bg-color;
      color: $white-color;
      }
    }
  }
  .category-title{
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    padding: 0 10px;
    border-radius: 4px 4px 0 0;
    background-color: $bg-color;
    color: $white-color;
  }
  .category-list{
    background-color: $white-color;
    padding: 20px;
    &__child-title{
      font-weight: bold;
    }
    &__child{
      padding: 10px;
      &__grandchild{
        color: blue;
      }
    }
  }
  .category-line{
    display: flex;
    .brand-list{
      color: blue;
      margin-top: 10px;
      display: inline-block;
    }
    li{
      width: 50%;
      font-size: 14px;
      margin: 0 20px 20px 20px;
      
    }
  }
  .index{
    height: 35px;
    line-height: 35px;
    background-color: #ccc;
    padding-left: 10px;
  }
.brand{
  height: 35px;
  line-height: 35px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;

  &--color{
    color: blue;
  }
  i{
    color: $bg-color;
    font-size: 24px;
    line-height: 35px;
  }
}
}
.mt{
  margin-top: 20px;
}

.products{
  width: 1000px;
  margin: 20px auto 0 auto;
  &__link-list{
    display: flex;
    flex-wrap: wrap;
    a{
      color: blue;
    font-size: 14px;
    margin: 0 10px 10px 0;
    }
  }
  &__title{
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
  }
  &__result-number{
    font-size: 11px;
    color: #999;
    margin: 10px 0;
  }
  &__keyword{
    font-weight: bold;
  }
  &__item{
    display: flex;
    flex-wrap: wrap;
  }
  .notfound{
    font-size: 14px;
    margin: 10px 0;
  }
}
.footer-category{
  height: 50px;
  width: 1000px;
  font-size: 22px;
  text-align: center;
  line-height: 50px;
  background: $bg-color;
  color: $white-color;
  margin: 20px auto 0 auto;
}
.footer-category-explanation{
  width: 1000px;
  background: $white-color;
  padding: 20px;
  margin: 0 auto;
}
.search-wrapper{
  width: 1140px;
  display: flex;
  margin: 0 auto;
  .detailed-search{
    width: 293px;
    margin-right: 30px;
    input[type=checkbox] {
      transform: scale(1.5);
      margin: 6px 3px 6px 3px;
    }
    &__title{
      margin: 24px 0 5px 0;
      span{
        margin: 5px 0;
      }
      i{
        color: $link-color;
      }
    }
    
    &__wrapper{
      padding: 16px;
      margin-top: 20px;
    }
    &__sorts{
      select{
       width: 100%;
       margin: 0;
       appearance: none;
       -webkit-appearance: none;
       -moz-appearance: none;
       border: 1px solid #ccc;
       background: $white-color;
       padding: 0 15px;
       font-size: 16px;
      }
    }
    &__price{
      display: flex;
      p{
        line-height: 54px;
        margin: 0 10px;
      }
      input{
        height: 48px;
        width: 83px;
        margin: 5px 0;
        border: 1px solid #ccc;
        border-radius: 6px;
        background: $white-color;
        padding: 0 15px;
       font-size: 16px;
      }
    }
  }
  
  select{
    height: 48px;
    width: 100%;
    margin: 5px 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #ccc;
    border-radius: 6px;
    background: $white-color;
    padding: 0 15px;
    font-size: 16px;
    
  }
  #q_name_cont, #q_brand_name_cont{
    height: 48px;
    width: 229px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin: 5px 0;
    background: $white-color;
    padding: 0 15px;
    font-size: 16px;
  }
  label{
    width: calc(50% - 24px);
    font-size: 14px;
    display: inline-block;
    margin: 8px 0;
    vertical-align: middle;
    &:hover{
      cursor: pointer;
    }
  }
  .sales-label{
    width: 96px;
  }
  .detailed-search-submit{
    display: flex;
    justify-content: space-between;
    margin: 30px 0 10px 0;
    .search-button,.reset-btn{
      height: 50px;
      width: 120px;
      background-color: transparent;
      border: none;
      cursor: pointer;
      outline: none;
      padding: 0;
      margin: 0;
      appearance: none;
      background: $bg-color;
      color: $white-color;
      font-size: 20px;
      text-align: center;
      line-height: 50px;
      display: inline-block;
    }
    .reset-btn{
      background: #ccc;
    }
  }
  .detailed-select{
    position: relative;
    .fa-angle-down{
      position: absolute;
      font-size: 24px;
      top: 18px;
      right: 20px;
      color: #aaa;
    }
  }
  .detailed-search__sorts{
    position: relative;
    .fa-angle-down{
      position: absolute;
      font-size: 24px;
      top: 12px;
      right: 20px;
      color: #aaa;
    }
  }
}
.search-products{
  width: 850px;
  margin: 0;
}

  