.btn-page{
  width: 60%;
  height: 550px;
  .btn-page-title{
    width:100%;
    padding:12px 0;
    font-size:24px;
    margin-top:40px;
    background-color:$title-bg-color;
    margin-bottom:2px;
  }
  .btn-page-contents {
    width:100%;
    background-color:$title-bg-color;
    padding:25px 0;
    &__logout{
      margin-top: 40px;
    }
    p.card {
      margin-bottom: 12px;
    }
    &__btn {
      margin:0 auto;
      line-height: 50px;
      height:50px;
      width:300px;
      background: $bg-color;
      text-align: center;
    }
    &__card-regist {
      margin-top: 40px;
      padding-bottom: 100px;
      h1 {
        font-size: 25px;
        margin-bottom: 60px;
        padding-bottom: 15px;
        border-bottom: solid;
        border-color: rgb(240, 240, 240);
        border-width: 2px;
        text-align: center;
      }
      p {
        font-size: 18px;
        margin-bottom: 20px;
        margin: 20px 140px;
      }
      form {
        margin: 0 30px;
        text-align: center;
        padding-bottom: 30px;
        border-bottom: solid;
        border-color: rgb(240, 240, 240);
        border-width: 2px;
      }
    }
    .card-regist__btn {
      padding: 10px 60px;
      border: none;
      font-size: 15px;
      background-color: $bg-color;
      color: #fff;
      border: none;
    }
    
  }
}

a.color{
  color: #fff;
}