.main {
  background-color: #f8f8f8;
  padding: 40px 0;
  a {
    color: $bg-color;
    text-decoration: none;
  }
  .detail-wrapper {
    width: 800px;
    margin: 0 auto;
    .sold-out__box {
      text-align: center;
      margin: 0 auto;
      font-size: 20px;
      height: 70px;
      line-height: 70px;
      width: 80%;
      background-color: rgb(160, 160, 160);
      color: #fff;
    }
    .exhibition-detail {
      background-color: $white-color;
      padding: 35px;
      &__title {
        text-align: center;
        font-size: 40px;
      }
      &__image--preview {
        position: relative;
        .preview {
          display: flex;
          justify-content: center;
          li {
            width: 90%;
            height: 500px;
            img{
              height: 100%;
              width: 100%;
              object-fit: cover;
            }
          }
        }
        .detail-img__sold {
          border-style: solid;
          border-width: 200px 200px 0 0;
          border-color: $bg-color transparent transparent transparent;
          position: absolute;
          top: 0;
          left: 36px;
          &__font {
            font-size: 50px;
            color:$white-color;
            transform: rotate(-45deg);
            position: absolute;
            top: 50px;
            left: 45px;
          }
        }
        .item1, .item2, .item3, .item4, .item5, .item6, .item7, .item8, .item9 {
          display: none;
        }
      }
      &__image--thumb {
        padding: 50px 30px;
        ul {
          display: flex;
          flex-wrap: wrap;
          li {
            width: 120px;
            height: 150px;
            padding: 0 3px;
            img {
              width: 120px;
              height: 150px;
            }
          }
        }
      }
      &__price {
        text-align: center;
        margin-bottom: 30px;
        h1 {
          font-size: 35px;
        }
        p {
          font-size: 10px;
        }
      }

      .sold-out__box {
        text-align: center;
        margin: 0 auto;
        font-size: 20px;
        height: 70px;
        line-height: 70px;
        width: 80%;
        background-color: rgb(160, 160, 160);
        color: $white-color;

      }

      .buy-btn {
        display: block;
        text-align: center;
        line-height: 60px;
        height: 60px;
        color: $white-color;
        background-color: $bg-color;
      }
      &__explanation {
        margin: 20px 0;
        font-size: 18px;
        line-height: 25px;
      }
      &__table {
        border-collapse:  collapse;
        width: 100%;
        margin: 20px 0;
        th, td {
          vertical-align: middle;
          border: solid 1px #dfdfdf;
          width: max;
          font-size: 14px;
          padding: 20px;
        }
        th {
          width: 27%;
          font-weight: 400;
          background-color: #eee;
        }
      }
      &__buttom {
        display: flex;
        justify-content: space-between;
        input {
          font-size: 18px;
          padding: 7px 20px;
          border-radius: 20px;
          border-color: $bg-color;
          color: $bg-color;
        }
        #liked {
          background-color: $bg-color;
          color: #fff;
        }
        .favorite-btn__not-login {
          background-color: rgb(199, 199, 199);
          font-size: 18px;
          border-radius: 20px;
          border-color: #fff;
          padding: 15px 20px;
          color: #fff;
        }
      }
    }
    .comment-form {
      background-color: $white-color;
      margin: 10px 0;
      padding: 35px;
      .comments-field {
        padding: 20px 0;
        &__comment {
          display: flex;
          justify-content: space-between;
          margin-bottom: 20px;
          &--user {
            text-align: center;
            width: 85px;
            i {
              font-size: 50px;
              color: rgb(200, 200, 200);
            }
            &name {
              font-size: 10px;
              margin-bottom: 5px;
            }
            p {
              font-size: 8px;
              background-color: rgb(230, 240, 240);
              padding: 5px;
              width: 60%;
              margin: 0 auto;
              text-align: center;
            }
          }
          .comments-field__comment--wrapper {
            margin: auto 0;
            height: auto;
            width: 80%;
            padding: 15px;
            background-color: rgb(230, 240, 240);
            border-radius: 10px;
            p {
              word-break: break-all;
              white-space: pre-wrap;
              margin-bottom: 5px;
            }
            time {
              font-size: 5px;
              color: rgb(109, 109, 109);
            }
          }
        }
      }
      &__form-area {
        width: 97%;
        height: 150px;
        font-size: 120%;
        padding: 10px;
        white-space: pre-wrap;
      }
      &__alert {
        margin: 10px 0 30px;
        padding: 10px;
        line-height: 23px;
        background-color: #f8f8f8;
      }
      &__btn {
        text-align: center;
      }
      &__comment-btn {
        width: 60%;
        padding: 20px 0;
        background-color: $bg-color;
        color: $white-color;
        font-size: 15px;
        border-radius: 30px;
      }

    }
    .edit-form {
      background-color: $white-color;
      margin: 20px 0;
      padding: 35px;
      a {
        display: block;
        margin-bottom: 30px;
        text-align: center;
        line-height: 60px;
        height: 60px;
        color: $white-color;
        background-color: $bg-color;
      }
      #delete-btn {
        background-color: #aaa;
      }
    }
    .exhibition-buttom {
      .next-exhibition {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
      }
      .category-more {
        margin: 20px 0;
        font-size: 25px;
        font-weight: bold;
      }
    }
  }
}
