.header{
  width:calc(100%-120px);
  height:100px;
  padding:0 60px;
  &__inner{
    margin:0 70px;
    padding:20px 0;
    height:80px;
  }
  &__inner-top{
    width:100%;
    height:40px;
    display:flex;
    &--title{
      width:18%;
      height:100%;
    }
    &--search-box{
      width:82%;
      height:100%;
      }
    &--search-window{
      width:90%;
      height:32px;
      font-size:16px;
    }
    &--search-button{
      width:25;
      height:32px;
      font-size:16px;
      background-image: url('app/assets/images/icon/icon-search1.png');
    }
  }
  &__inner-bottom{
    display:flex;
    justify-content: space-between;
    padding-top: 12px;
    font-size: 14px;
    &--find{
      display: flex;
      list-style: none;
    }
    &--find-list{
      padding-right: 15px;
    }
    &--btn{
      display: flex;
      list-style: none;
    }
    &--btn-list{
      padding-left: 15px;
    }
  }  
}