.ogout-contents__inner{
  background-color: #fff;
  min-height: 60px;
  padding: 16px;
  text-align: center;  
  }
  .logout-contents__btn{
    background: red;
    color: #fff;
    line-height: 56px;
    display: inline-block;
    margin: 20px 50px 20px 50px;
  }