.logout{
  width: 66%;
  height: 100%;
  .logout-contents{
    background-color:#eee;
    min-height: 60px;
    padding: 100px 200px 250px 200px;;
    text-align: center;  
    .logout-contents__btn{
      background: #3CCACE;
      line-height: 56px;
      display: inline-block;
      margin: 20px 50px 20px 100px;
      padding: 0px 150px 0px 150px;;
    }
  }
}

a.color{
  color: #fff;
}