a.header-link{
  text-decoration: none;
  color:#333;
}

p.exhibition{
  font-size:16px;
  line-height: 20px;
  margin-bottom:10px;
}

h1.reason{
  font-weight: bold;
}

h2.reason{
  margin:12px;
  line-height: 45px;
  & span{
    color: #3CCACE;
  }
}

p.reason{
  font-size:18px;
  line-height: 24px;
}

.toppage-main-contents{
  width:100%;
  &__top-img{
    position: relative;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
    color: #fff;
    &__heading{
      position: absolute;
      font-size:48px;
      font-weight: bold;
      margin:40px;
      top: 30%;
    }
    &__text{
      position: absolute;
      font-size:16px;
      line-height: 30px;
      margin-left:40px;
      top: 50%;
    }
    &__btn{
      margin-top:30px;
      display: flex;
      justify-content: flex-start;
      .btn {
        width: 180px;
      }
      .app{
        margin-right: 10px;
      }
    }
  }
  &__reason{
    text-align: center;
    font-size:24px;
    padding:50px;
    margin:0 auto;
  }
  &__reason::after{
    content: "";
    width: 70px;
    height: 4px;
    background-color: #3CCACE;
    position: absolute;
    top: 750px;
    left: 50%;
    transform: translateX(-50%);
  }
  &__reason-box{
    width:100%;
    margin-top:50px;
    display:flex;
    justify-content: space-evenly;
  }
  &__reason-img{
    position: relative;
    & span.number{
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 4%;
      font-size: 30px;
      text-align: center;
      margin: 0 5px 0 0;
      padding: 10px 15px;
      background-color: #3CCACE;
      color: #fff;
    }
  }
  &__camera{
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 7%;
    font-size: 30px;
    text-align: center;
    padding: 10px 24px;
    background-color: #3CCACE;
    color: #fff;
  }
}