.mypage-wrapper{
  display:flex;
  background-color: #eee;
}
a{
  text-decoration: none;
  color:#000;
}
.mypage-lists{
    height: 100vh;
    width: 32%;
  .mypage-lists__inner{
    margin:40px;
  }
  ul.mypage-menulists{
    margin-bottom: 30px;
  }
  h2.mypage-list-title{
    font-weight: bold;
    font-size:18px;
    margin-bottom: 10px;
  }
  li.mypage-list{
    list-style: none;
    font-size:14px;
    padding-left: 12px;
    line-height: 48px;
    background-color: #fff;
    border-bottom:#eee 2px solid;
  }
  li.mypage-list:hover{
    background-color: #ccc;
  }
}
.mypage-contents{
    height: 100vh;
    width: 68%;
  .mypage-contents__inner{
    margin:40px;
  }
  .mypage-contents__user{
    height:150px;
    width:700px;
    text-align: center;
    background-color: #fff;
    border-bottom:$bg-color 2px solid
  }
  h1.user-name{
    font-size:32px;
    padding-top:40px;
  }
  p.exhibitions{
    font-size:16px;
    margin-top:15px;
  }
}

// .mypage-contents__flex{
//   display:flex;
//   width:700px;
//   .mypage-contents__menu{
//     width:50%;
//     height:80px;
//     line-height: 80px;
//     text-align: center;
//     background-color: #ccc;
//   }
// }

// .mypage-contents__window{
//   width:700px;
//   height:200px;
//   line-height: 200px;
//   text-align: center;
//   background-color: #eeeeee;
//   color:#999;
// }



//ここから川井が実装

.mypage-contents__tab{
  height:300px;
  width:700px;

  &__tabs{
    display: flex;
    justify-content: space-around;

    .mypage-contents__tab__tabs__left{
      background-color: #fff;
      text-align: center;
      font-size: 16px;
      line-height: 72px;
      width: 50%;
      }

    .mypage-contents__tab__tabs__right{
      background-color: #eee;
      text-align: center;
      font-size: 16px;
      line-height: 72px;
      width: 50%;
     }
  }

//上の段
  &__contents-box{
    .mypage-contents__tab__contents-box__nontification-one{
      background-color: #fff;
      display: block;
      min-height: 60px;
      display: flex;
    }
      .mypage-contents__tab__contents-box__nontification-one__image
      .mypage-contents__tab__contents-box__nontification-one__message{
        margin: 0 40px 0 68px;
      }
      .mypage-contents__tab__contents-box__nontification-one__icon-arrow-right{
        margin-top: 15px;
        margin-right: 50px;
        font-size: 30px;
      }
  }

    //下の一覧
  &__contents-box{
      background-color: #fff;
      min-height: 60px;
      padding: 16px;
      border-bottom: #eee 2px solid;
  }
    &__contents-box__footer{
      display: block;
      height: 56px;
      margin: 0 auto;
      background: #eee;
      color: #333;
      line-height: 56px;
      text-align: center;
    }
}
     //二段目
  .mypage-contents__container{
    height:500px;
    width:700px;
    background-color: #fff;
  
    &__head{
      line-height: 72px;
      font-size: 16px;
      border-bottom:$bg-color 2px solid
    }
      &__head__message{
        margin-left: 30px;
     }
      &__tabs{
      display: flex;
    }
      &__tabs__left{
        background-color: #fff;
        text-align: center;
        font-size: 16px;
        line-height: 72px;
        width: 50%
      }
        
      &__tabs__right{
        background-color: #eee;
        text-align: center;
        font-size: 16px;
        line-height: 72px;
        width: 50%
      }
  }



  .mypage-contents__tab__contents-main{
    &__nontification-one{
      display: flex;
      min-height: 60px;
      padding: 16px;
      border-bottom: #eee 2px solid;
    }

    &__nontification-one__icon-arrow-right{
      bottom: 5px;
      right: 10px;
      margin-top: 25px;
      font-size: 30px;
      }
  }   
  
  .mypage-contents__container__contents-box{
    background-color: #fff;
    min-height: 60px;
    padding: 16px;
    border-bottom: #eee 2px solid;

    &__footer{
      display: block;
      height: 56px;
      margin: 0 auto;
      background: #eee;
      color: #333;
      line-height: 56px;
      text-align: center;
    }
  }

a.font-left{
  margin-left: 20px;
}

a.display{
  display: flex;
}

a.backcolor-red{
  margin-left: 20px;
  margin-top: 10px;
  padding: 5px 6px;
  background-color: red;
  display: inline-block;
  font-size: 12px;
  color: #fff;
}