.mypage-wrapper{
  display:flex;
  background-color: #eee;
}
a{
  text-decoration: none;
  color:#000;
}
.mypage-lists{
    height: 100vh;
    width: 32%;
  .mypage-lists__inner{
    margin:40px;
  }
  ul.mypage-menulists{
    margin-bottom: 30px;
  }
  h2.mypage-list-title{
    font-weight: bold;
    font-size:18px;
    margin-bottom: 10px;
  }
  li.mypage-list{
    list-style: none;
    font-size:14px;
    padding-left: 12px;
    line-height: 48px;
    background-color: $white-color;
    border-bottom:#eee 2px solid;
  }
  li.mypage-list:hover{
    background-color: #ccc;
  }
}
.mypage-contents{
    width: 68%;
  .mypage-contents__inner{
    margin-top:40px;
    width:700px;
  }
  .mypage-contents__user{
    height:150px;
    text-align: center;
    background-color: $white-color;
  }
  h1.user-name{
    font-size:32px;
    padding-top:40px;
  }
  p.exhibitions{
    font-size:16px;
    margin-top:15px;
  }
}

.mypage-message{
  margin-bottom: 50px;
  .mypage-message__tabs{
    display: flex;
    &__tab{
      background-color: $white-color;
      text-align: center;
      font-size: 16px;
      line-height: 72px;
      width: 50%;
      &--active{
        border-top:2px solid $bg-color;
      }
      &--right{
        background-color: #ddd;
      }
    }
  }
}

.mypage-nontification{
  background-color:$white-color;
  height: 75px;
  display: flex;
  margin-bottom: 1px;
  &__image{
    text-align: center;
    margin: auto 0;
    width:80px;
  }
  &__message{
    width:calc(100% - 120px);
    margin: auto 0 auto 10px;
  }
  &__arrow{
    width:40px;
    text-align: center;
    margin: auto 0;
    font-size: 30px;
  }
  p.nontification-margin{
    margin-bottom: 5px;
  }

  ul.flex{
    display:flex;
  }
}

.mypage-container{
  background-color: $white-color;
  padding:16px;
  &__box{
    display: block;
    height: 50px;
    margin: 0 auto;
    background: #eee;
    color: #333;
    line-height: 50px;
    text-align: center;
  }
}

.mypage-transaction{
  background-color: $title-bg-color;
  height:60px;
  padding-left:20px;
  line-height: 60px;
}

a.backcolor{
  margin-top: 5px;
  padding: 5px 6px;
  background-color:$bg-color;
  display: inline-block;
  font-size: 12px;
  color: #fff;
}

a.hover:hover {
    opacity: 0.6;
  }

